/.metadata
/RemoteSystemsTempFiles/*.project
/Lista_00/.settings/*.prefs
/Lista_00/.project
/Lista_00/.cproject
/Lista_00/.gitignore
/Lista_00/*.cbp
/Lista_00/*.depend
/Lista_00/bin/Debug/*.exe
/Lista_00/obj/Debug/*.o
/Lista_00/Lista_00.layout
/Lista_00/Q1/*.cbp
/Lista_00/Q1/bin/Debug/*.exe
/Lista_00/Q1/obj/Debug/*.o
/Lista_00/Q2/*.cbp
/Lista_00/Q2/bin/Debug/*.exe
/Lista_00/Q2/obj/Debug/*.o
/Lista_00/Q3/*.cbp
/Lista_00/Q3/bin/Debug/*.exe
/Lista_00/Q3/obj/Debug/*.o
*.cbp
*.layout
*.depend
*.exe
*.o
*.project
*.cproject
